.feature
  %table.table
    %tr
      %td
        = t('features.usa_debt')
      %td
        = usa_debt
      %td
        = kabaled_usa_debt
    %tr
      %td
        = t('features.earth_mass')
      %td
        = earth_mass
      %td
        = kabaled_earth_mass
    %tr
      %td
        = t('features.distance_to_Andromeda_galaxy')
      %td
        = distance_to_Andromeda_galaxy_in_km
      %td
        = kabaled_distance_to_Andromeda_galaxy_in_km
    %tr
      %td
        = t('features.seconds_at_millenium')
      %td
        = seconds_at_millenium_with_sec
      %td
        = kabaled_seconds_at_millenium
    %tr
      %td
        = t('features.first_16_symbols_of_pi')
      %td
        = pi
      %td
        = kabaled_pi
