%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/google_analytics'
    = csrf_meta_tags
  %body
    .content
      = render 'layouts/karamzin/navbar'
      .jumbotron
        = flash_messages :close
        = yield
    = render 'layouts/footer'
    = render 'layouts/github_ribbon', repository_name: 'kalashnikovisme/karamzin'
