.row
  .col-md-12
    = simple_form_for @number do |f|
      - if @number.errors.any?
        .alert.alert-dismissable.alert-danger
          %ul
            - @number.errors.full_messages.each do |msg|
              %li= msg
      = f.input :value, as: :string, label: false, error: false
      = f.input :language, as: :select, collection: kabal_support_languages, input_html: { class: "form-control" }, label: false, selected: 0, label_method: lambda { |language| language[:translation] }, value_method: lambda { |language| language[:name] }
      .form-actions
        = f.button :submit, t('buttons.press_button'), class: "btn btn-primary btn-lg"
