%h2
  = t('.enter_another_number')
= simple_form_for @new_number, html: { class: "form-horizontal" } do |f|
  = f.input :value, label: false, as: :string, input_html: { value: @number.value }
  = f.input :language, as: :select, collection: kabal_support_languages, input_html: { class: "form-control" }, label: false, selected: 0, label_method: lambda { |language| language[:translation] }, value_method: lambda { |language| language[:name] }, selected: @number.language
  .form-actions
    = f.button :submit, t('buttons.press_button'), class: "btn btn-primary btn-lg"

.result
  %h4
    = t('.you_have_entered')
    \:
    - unless kabal_returns_error? @number_as_words
      = @number_as_words
    - else
      = t("kabal.errors.#{@number_as_words}")

  - unless @number.has_comment?
    = javascript_include_tag "web/numbers"
    #wrong
