%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
  %body
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      I18n.currentLocale();
    .content
      = render "layouts/navbar"
      .jumbotron
        = flash_messages :close
        = yield
    = render "layouts/footer"
